@import url(reset.css);

/*========================== 
General
==========================*/

:root {
  --white-color: #ffffff;
  --primary-color: #247cff;
  --section-bg-color: #f9f9f9;
  --dark-color: #000000;
  --title-color: #565758;
  --p-color: #717275;
  --border-color: #eaeaea;

  --fs-h1: clamp(2rem, 5vw, 4rem);
}

::selection {
  background-color: #7aa2db;
  color: #fff;
}

// Scrollbar

html {
  scroll-behavior: smooth;
  scrollbar-color: #a8ccff #e0ecff;
}

html::-webkit-scrollbar {
  width: 1vw;
}
html::-webkit-scrollbar-thumb {
  background-color: #a8ccff;
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #8ebdff;
}
html::-webkit-scrollbar-track {
  background-color: #e0ecff;
  border-radius: 1vw;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  -ms-border-radius: 1vw;
  -o-border-radius: 1vw;
}
html::-webkit-scrollbar-track:hover {
  background-color: #d2e3ff;
}

body {
  font-family: "maxim_sansregular";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ff_hekayalight";
  text-transform: capitalize;
  //   letter-spacing: 3px;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
p {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
span {
  font-size: 16px;
}
a {
  font-size: clamp(0.6rem, 2vw, 1.6rem);
  text-transform: capitalize;
  color: var(--p-color);
}

/*========================== 
Header
==========================*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #e5effd;
  border-bottom: 2px solid var(--border-color);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px; */
  transition: transform 150ms;
  -webkit-transition: transform 150ms;
  -moz-transition: transform 150ms;
  -ms-transition: transform 150ms;
  -o-transition: transform 150ms;
}

.header-design {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-align: center;
    margin-top: 5px;
    line-height: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-family: "maxim_sansregular";
    h1 {
      color: var(--primary-color);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      text-shadow: 0px 0px 5px #247cff;
    }
    &:hover h1 {
      text-shadow: 0px 0px 5px #247cff, 0px 0px 15px #247cff8f;
    }
    h5 {
      color: var(--title-color);
      text-shadow: 0px 0px 25px #565758;
    }
    &:hover {
      color: var(--dark-color);
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
    }
  }
}

//Desktop Header

.desktop-header {
  display: flex;
  a {
    font-size: 1.5rem;
    margin: 0 20px;
  }
}

// Mobile Header

.mobile-headaer {
  display: none;
}

.burger_menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  top: 12px;
  right: 20px;
  cursor: pointer;
  span {
    position: absolute;
    background-color: var(--title-color);
    width: 2.2rem;
    height: 2.5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: var(--title-color);
      width: 2.2rem;
      height: 2.5px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      transition: top 300ms 300ms, transform 300ms;
      -webkit-transition: top 300ms 300ms, transform 300ms;
      -moz-transition: top 300ms 300ms, transform 300ms;
      -ms-transition: top 300ms 300ms, transform 300ms;
      -o-transition: top 300ms 300ms, transform 300ms;
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
    }
    &.active {
      background-color: transparent;
    }
    &.active::before,
    &.active::after {
      transition: top 300ms, transform 300ms 300ms;
      -webkit-transition: top 300ms, transform 300ms 300ms;
      -moz-transition: top 300ms, transform 300ms 300ms;
      -ms-transition: top 300ms, transform 300ms 300ms;
      -o-transition: top 300ms, transform 300ms 300ms;
    }
    &.active::before {
      top: 0px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
    &.active::after {
      top: 0px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
  }
}

.mobile-header-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: 0.3s 0.3s;
  -webkit-transition: 0.3s 0.3s;
  -moz-transition: 0.3s 0.3s;
  -ms-transition: 0.3s 0.3s;
  -o-transition: 0.3s 0.3s;
  a {
    padding: 5px 0;
    font-size: 1.4rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    &:hover {
      color: var(--dark-color);
    }
  }
}

// Header Responsive

@media only screen and (max-width: 920px) {
  .desktop-header {
    display: none;
  }
  .mobile-headaer {
    display: flex;
  }
  .container {
    max-width: 95vw;
  }
  .mobile-header-slide {
    display: flex;
  }
}

@media only screen and (min-width: 921px) {
  .mobile-header-slide {
    display: none;
  }
}

/*========================== 
Home
==========================*/

.home {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #fff 0%, #e6f6ff 50%, #fff 100%);
}
.background-images {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  img {
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: 0.4s 0.6s;
    -webkit-transition: 0.4s 0.6s;
    -moz-transition: 0.4s 0.6s;
    -ms-transition: 0.4s 0.6s;
    -o-transition: 0.4s 0.6s;
    &:first-child {
      opacity: 1;
    }
  }
}
.home-description {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  width: clamp(230px, 45vw, 500px);
  padding: clamp(4px, 0.8vw, 10px) clamp(15px, 3vw, 30px)
    clamp(10px, 2.5vw, 30px);
  border-radius: 20px 0 0 0;
  -webkit-border-radius: 20px 0 0 0;
  -moz-border-radius: 20px 0 0 0;
  -ms-border-radius: 20px 0 0 0;
  -o-border-radius: 20px 0 0 0;
  background: rgba(230, 244, 252, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--p-color);
  h1 {
    font-size: var(--fs-h1);
    position: relative;
    color: #021431;
    span {
      font-family: "ff_hekayalight";
      text-transform: lowercase;
      font-size: var(--fs-h1);
      position: absolute;
      opacity: 0;
      top: 20px;
      margin-left: 20px;
      color: var(--primary-color);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      animation: animate 9s infinite;
      -webkit-animation: animate 9s infinite 0s;
      @keyframes animate {
        0% {
          opacity: 0;
        }

        5% {
          opacity: 0;
          top: 20px;
        }

        10% {
          opacity: 1;
          top: 0;
        }

        25% {
          opacity: 1;
          top: 0;
        }

        30% {
          opacity: 0;
          top: 20px;
        }

        80% {
          opacity: 0;
        }

        100% {
          opacity: 0;
        }
      }
    }
    span:nth-child(2) {
      animation-delay: 3s;
    }
    span:nth-child(3) {
      animation-delay: 6s;
    }
  }
  p {
    text-align: justify;
  }
  .more-and-calls {
    display: flex;
    align-items: center;
    margin-top: clamp(10px, 2vw, 20px);
    a {
      color: var(--primary-color);
      padding: clamp(8px, 0.8vw, 10px) clamp(10px, 1.5vw, 20px);
      background-color: transparent;
      border: 2px solid var(--primary-color);
      border-radius: 5px;
      margin-right: clamp(20px, 4vw, 40px);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      overflow: hidden;
      position: relative;
    }
    .call {
      display: flex;
      align-items: center;
      ion-icon {
        font-size: clamp(1.2rem, 3vw, 2rem);
        margin-right: 10px;
      }
      span {
        font-size: clamp(0.8rem, 2vw, 1.5rem);
      }
    }
  }
}
.home-description-2 {
  display: none;
  width: 94%;
  margin: auto;
  color: var(--p-color);
  h1 {
    font-size: var(--fs-h1);
    position: relative;
    color: #021431;
    span {
      font-family: "ff_hekayalight";
      text-transform: lowercase;
      font-size: var(--fs-h1);
      position: absolute;
      opacity: 0;
      top: 20px;
      color: var(--primary-color);
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      animation: animate 9s infinite;
      -webkit-animation: animate 9s infinite 0s;
      @keyframes animate {
        0% {
          opacity: 0;
        }

        5% {
          opacity: 0;
          top: 20px;
        }

        10% {
          opacity: 1;
          top: 0;
        }

        25% {
          opacity: 1;
          top: 0;
        }

        30% {
          opacity: 0;
          top: 20px;
        }

        80% {
          opacity: 0;
        }

        100% {
          opacity: 0;
        }
      }
    }
    span:nth-child(2) {
      animation-delay: 3s;
    }
    span:nth-child(3) {
      animation-delay: 6s;
    }
  }
  p {
    text-align: justify;
  }
  .more-and-calls {
    display: flex;
    align-items: center;
    margin-top: 20px;
    a {
      color: var(--primary-color);
      padding: 10px 20px;
      background-color: transparent;
      border: 2px solid var(--primary-color);
      border-radius: 5px;
      margin-right: 40px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      overflow: hidden;
      position: relative;
    }
    .call {
      display: flex;
      align-items: center;
      ion-icon {
        font-size: clamp(1.8rem, 6vw, 2.5rem);
        margin-right: 10px;
      }
      span {
        font-size: clamp(1.2rem, 5vw, 2rem);
      }
    }
  }
}

// Home Responsive

@media only screen and (max-width: 600px) {
  :root {
    --fs-h1: clamp(3rem, 15vw, 4rem);
  }
  .home {
    flex-direction: column;
  }
  .home-description {
    display: none;
  }
  .home-description-2 {
    padding: 0;
    display: block;
    h1,
    span {
      font-size: var(--fs-h1);
    }
    span {
      margin-left: clamp(10px, 3.3vw, 20px);
    }
    .more-and-calls {
      flex-direction: column-reverse;
      a {
        font-size: clamp(1rem, 5vw, 3rem);
        margin-top: clamp(10px, 3vw, 20px);
        margin-right: 0;
      }
      .call span {
        margin-left: 0;
      }
    }
  }
}

/*========================== 
About
==========================*/

.about {
  display: grid;
  grid-template-areas:
    "info"
    "images";
  column-gap: 50px;
  padding-top: 170px;
}
.about-info {
  grid-area: info;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px 20px;
}
.about-description {
  h1 {
    font-size: 3.5rem;
    word-spacing: 15px;
    color: #021431;
  }
  p {
    color: var(--p-color);
    padding-left: 10px;
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    text-align: justify;
  }
}
.about-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  line-height: 1;
  span {
    color: #021431;
    font-size: 1.5rem;
    word-spacing: -5px;
    vertical-align: baseline;
    text-align: center;
  }
  .number {
    font-size: 10rem;
    color: #247cff;
  }
}
.about-images {
  grid-area: images;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 150px;
  img {
    margin: auto;
    width: 90%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}

// About Responsive

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 100%;
  }
  .about {
    margin-top: clamp(50px, 19vw, 150px);
    padding: 0 10px;
  }
  .about-info {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .about {
    max-width: 100%;
    padding: 0;
  }
  .about-experience {
    width: clamp(200px, 60vw, 330px);
    height: clamp(200px, 60vw, 330px);
    span {
      font-size: clamp(0.8rem, 5vw, 1.5rem);
    }
    .number {
      font-size: clamp(5rem, 30vw, 10rem);
    }
  }
}

@media only screen and (max-width: 400px) {
  .about-description {
    h1 {
      text-align: center;
    }
    p {
      padding: 0 5px;
    }
  }
}

/*========================== 
Timeline
==========================*/

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  & > h1 {
    color: #021431;
    text-shadow: 0 0 20px #0214317a;
  }
}

.timeline-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline-item {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 10px;
  margin-bottom: 100px;
  ion-icon {
    position: relative;
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 50%;
    color: var(--primary-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 40px rgba(8, 33, 88, 0.3);
  }
  .item-content {
    position: absolute;
    width: 350px;
    top: 70px;
    left: -380px;
    text-align: right;
    box-shadow: 5px 5px 40px rgba(8, 33, 88, 0.3);
    h2 {
      background-color: #021431;
      color: #fff;
      padding: 6px 20px 10px;
      position: relative;
      border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      &::after {
        position: absolute;
        content: "";
        width: 0px;
        border-left: 20px solid #021431;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        right: -12px;
        top: 24px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
      }
    }
    p {
      padding: 20px 15px;
    }
  }
}
.timeline-item:nth-child(even) h2::after {
  left: -12px;
  top: 10px;
  transform: rotate(315deg);
}

.item-content.right {
  left: 150px !important;
  text-align: left;
}

// timline Responsive

@media only screen and (max-width: 950px) {
  .item-content {
    width: 250px !important;
    left: -290px !important;
  }
}

@media only screen and (max-width: 650px) {
  .timeline {
    align-items: flex-start;
    & > h1 {
      margin: auto;
    }
  }
  .item-content {
    width: 350px !important;
    left: 150px !important;
  }
  .timeline-item:nth-child(odd) h2::after {
    left: -12px;
    top: 10px;
    transform: rotate(315deg);
  }
}
@media only screen and (max-width:550px) {
  .item-content {
    width: 250px !important;
  }
}
@media only screen and (max-width:450px) {
  .item-content {
    width: 200px !important;
    left: 120px !important;
  }
  .item-content.right {
    left: 120px !important;
  }
}
@media only screen and (max-width:350px) {
  .timeline-item {
    padding-bottom: 80px;
  }
  .item-content {
    width: 150px !important;
  }
}